In [187]:
import pandas as pd

In [188]:
base_df_ = pd.read_csv('submissions/pred_sun_test_gpt4o_avg_10.csv')
# anger_df = pd.read_csv('submissions/track_a_42_1/pred_sun.csv')
disgust_df_ = pd.read_csv('submissions/pred_sun_test_disgust_63_3.csv')
fear_df_ = pd.read_csv('submissions/pred_sun_test_fear_42.csv')
surprise_df_ = pd.read_csv('submissions/pred_sun_test_surprise_42_1.csv')

id_df = base_df_[['id']]

base_df = base_df_.drop('id', axis=1)
disgust_df = disgust_df_.drop('id', axis=1)
fear_df = fear_df_.drop('id', axis=1)
surprise_df = surprise_df_.drop('id', axis=1)

emotion_cols = base_df.columns
whitelist_cols = ['disgust', 'surprise']

In [189]:
# anger_df.loc[anger_df['anger'] != 1, :] = 0

In [190]:
print("Disgust DF:")
print(disgust_df_[emotion_cols].sum())
print()

# disgust_df.loc[disgust_df['disgust'] != 1, :] = 0
disgust_df.loc[:, ~emotion_cols.isin(['disgust'] + whitelist_cols)] = 0

print("Disgust DF (after processed):")
print(disgust_df.sum())

Disgust DF:
anger        33
disgust      31
fear         13
joy         729
sadness     195
surprise    117
dtype: int64

Disgust DF (after processed):
anger         0
disgust      31
fear          0
joy           0
sadness       0
surprise    117
dtype: int64

In [191]:
print("Fear DF:")
print(fear_df_[emotion_cols].sum())
print()

# fear_df.loc[fear_df['fear'] != 1, :] = 0
fear_df.loc[:, ~emotion_cols.isin(['fear'] + whitelist_cols)] = 0

print("Fear DF (after processed):")
print(fear_df.sum())

Fear DF:
anger       102
disgust      88
fear         47
joy         670
sadness     212
surprise    305
dtype: int64

Fear DF (after processed):
anger         0
disgust      88
fear         47
joy           0
sadness       0
surprise    305
dtype: int64

In [192]:
print("Surprise DF:")
print(surprise_df_[emotion_cols].sum())
print()

# surprise_df.loc[surprise_df['surprise'] != 1, :] = 0
surprise_df.loc[:, ~emotion_cols.isin(['surprise'] + whitelist_cols)] = 0

print("Surprise DF (after filtered):")
print(surprise_df.sum())

Surprise DF:
anger       102
disgust      88
fear         47
joy         670
sadness     212
surprise    305
dtype: int64

Surprise DF (after filtered):
anger         0
disgust      88
fear          0
joy           0
sadness       0
surprise    305
dtype: int64

In [193]:
print("Base DF:")
print(base_df_[emotion_cols].sum())
print()

base_df.loc[:, ~emotion_cols.isin(['anger', 'joy', 'sadness'] + whitelist_cols)] = 0

print("Base DF (after filtered):")
print(base_df.sum())

Base DF:
anger        64
disgust       2
fear         57
joy         642
sadness     235
surprise    171
dtype: int64

Base DF (after filtered):
anger        64
disgust       2
fear          0
joy         642
sadness     235
surprise    171
dtype: int64

In [194]:
dfs = [base_df, 
       # anger_df, 
       disgust_df, 
       fear_df, 
       surprise_df]

In [195]:
sum_df = sum(dfs)
sum_df

     anger  disgust  fear  joy  sadness  surprise
0        0        0     0    1        0         0
1        0        0     0    1        0         0
2        0        2     0    0        1         2
3        0        0     0    1        0         1
4        0        0     0    1        0         0
..     ...      ...   ...  ...      ...       ...
921      0        0     0    1        0         3
922      0        2     0    1        0         3
923      0        0     0    1        0         0
924      0        0     0    1        1         0
925      0        0     0    1        0         0

[926 rows x 6 columns]

In [196]:
one_hot_df = (sum_df >= 1).astype(int)
one_hot_df

     anger  disgust  fear  joy  sadness  surprise
0        0        0     0    1        0         0
1        0        0     0    1        0         0
2        0        1     0    0        1         1
3        0        0     0    1        0         1
4        0        0     0    1        0         0
..     ...      ...   ...  ...      ...       ...
921      0        0     0    1        0         1
922      0        1     0    1        0         1
923      0        0     0    1        0         0
924      0        0     0    1        1         0
925      0        0     0    1        0         0

[926 rows x 6 columns]

In [197]:
base_df_[emotion_cols].sum()

anger        64
disgust       2
fear         57
joy         642
sadness     235
surprise    171
dtype: int64

In [119]:
one_hot_df.sum()

anger        64
disgust      31
fear         47
joy         642
sadness     235
surprise    305
dtype: int64

In [198]:
one_hot_df.sum()

anger        64
disgust      94
fear         47
joy         642
sadness     235
surprise    420
dtype: int64

In [199]:
save_df = pd.concat([id_df, one_hot_df], axis=1)
save_df

                         id  anger  disgust  fear  joy  sadness  surprise
0    sun_test_track_a_00001      0        0     0    1        0         0
1    sun_test_track_a_00002      0        0     0    1        0         0
2    sun_test_track_a_00003      0        1     0    0        1         1
3    sun_test_track_a_00004      0        0     0    1        0         1
4    sun_test_track_a_00005      0        0     0    1        0         0
..                      ...    ...      ...   ...  ...      ...       ...
921  sun_test_track_a_00922      0        0     0    1        0         1
922  sun_test_track_a_00923      0        1     0    1        0         1
923  sun_test_track_a_00924      0        0     0    1        0         0
924  sun_test_track_a_00925      0        0     0    1        1         0
925  sun_test_track_a_00926      0        0     0    1        0         0

[926 rows x 7 columns]

In [200]:
save_path = 'pred_sun_test_3.csv'
save_df.to_csv(save_path, index=False)
print("Saved to:", save_path)

Saved to: pred_sun_test_3.csv